@import url(grids.css);
@import url(containers.css);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Noto Serif';
}

a,
button {
  font-family: 'Noto Serif';
}

li {
  list-style: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
}

.btn {
  font-family: 'Noto Serif';
  font-weight: 700;
  text-align: center;
  color: #fff;
  line-height: 20px;
  font-size: 14px;
  padding: 12px 24px;
  outline: none;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 12px;
}

.nav {
  background: #FFA2A2;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1000px;
  padding-top: 20px;
  margin-left: 60px;
  position: absolute;
  z-index: 5;
}

.nav-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links > a {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.nav-links > a {
  margin-left: 16px;
}

.first-link > a {
  margin-left: 0;
}

.nav-btn-1 {
  color: #EB5757;
  background: #fff;
  margin-right: 8px;
}

.nav-btn-2 {
  color: #fff;
  background: #EB5757;
  border: 2px solid #fff;
}

/* Header */

.header {
  padding-top: 100px;
  background: #FFA2A2;
  position: relative;
  margin-bottom: 16px;
}

.header::before {
  position: absolute;
  content: '';
  background: url('../img/banner-right-img.png') no-repeat center right;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.header-container {
  z-index: 10;
}

.header-col {
  position: relative;
  z-index: 55;
}

.header-col-1 {
  margin-left: 70px;
}

.header-img-wrapper {
  max-width: 520px;
  max-height: 280px;
  margin-bottom: 20px;
}

.btn-col {
  text-align: center;
}

.header-btn {
  width: 90%;
  text-align: center;
  color: #fff;
  background: #EB5757;
  border: 2px solid #fff;
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 57px;
}

.desktop-image-wrapper {
  max-width: 650px;
}

/* Form */

.top-form {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  max-width: 330px;
  background: #F7F7F7;
}

.form-title {
  padding-top: 16px;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  margin-bottom: 16px;
}

.form-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 16px;
}

.red-message {
  color: #fff;
  background: #EB5757;
  border-radius: 4px;
  padding: 0 6px;
  margin-left: 8px;
}

/* CheckBox */

.checkbox {
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
}

#yes {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-1 {
  margin-right: 80px;
  margin-bottom: 10px;
}

.checkbox-3 {
  margin-right: 23px;
  margin-bottom: 25px;
}

.checkbox-3,
.checkbox-4 {
  margin-bottom: 25px;
}

.checkbox-title {
  font-size: 14px;
  line-height: 20px;
}

.form-desc-2 {
  margin-bottom: 8px;
}

.form-input {
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 26px;
}

.form-input:placeholder-shown {
  font-size: 16px;
  line-height: 26px;
  color: #00000061;
  background: #fff;
  margin-bottom: 16px;
}

.form-btn-wrapper {
  text-align: center;
  margin-bottom: 60px;
}

.form-btn {
  color: #00000033;
  background: #0000001F;
}

/* Services */

.services {
  margin-bottom: 50px;
}

.services-title-wrapper {
  max-width: 840px;
  margin: 0 auto;
}

.services-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  text-align: right;
}

.services-desc {
  font-size: 45px;
  font-weight: 700;
  line-height: 65px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 8px;
}

.example-title {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  color: #666666;
  text-align: center;
  margin-bottom: 16px;
}

.examples-wrapper {
  margin-left: -30px;
}

/* Details */

.details {
  margin-bottom: 65px;
}

.details-title,
.difference-title,
.recommend-title,
.feature-title,
.merit-title,
.case-study-title,
.function-title{
  position: relative;
  font-size: 34px;
  font-weight: 700;
  padding-top: 150px;
  line-height: 50px;
  margin-bottom: 24px;
}

.details-title::before ,
.difference-title::before,
.recommend-title::after,
.feature-title::after,
.merit-title::before,
.case-study-title::before,
.function-title::before {
  position: absolute;
  content: '';
  background: url('../img/title_about.png') no-repeat center left;
  top: 25px;
  left: -13px;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.details-desc,
.difference-desc {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 30px;
}

.details-content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #56CCF21A;
  padding: 32px;
  border-radius: 48px;
  width: 100%;
}

.content-2-img-wrapper {
  max-width: 500px;
  width: 50%;
}

.content-2-text-wrapper {
  width: 50%;
  max-width: 261px;
  margin: 0 auto;
  text-align: center;
}

.content-2-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 1px;
  color: #09182A;
}

/* difference */

.difference {
  padding: 65px;
  background: #FE9F9F1A;
}

.difference-title {
  z-index: 1;
}

.difference-title::before {
  z-index: -1;
  background: url('../img/Difference.png') no-repeat center left;
}

.diff-sub-card {
  background: #fff;
  padding: 24px;
  border-radius: 48px;
}

.diff-sub-title {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
}

.diff-sub-desc {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 8px;
}

.diff-sub-desc-2 {
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
  margin-bottom: 8px;
}

.diff-sub-desc-3 {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 50px;
  color: #09182A;
}

.sub-img-wrapper {
  text-align: center;
}

.sub-img-wrapper > img{
  object-fit: contain;
  max-width: 432px;
  max-height: 240px;
}

/* Recommend */

.recommend {
  padding: 65px;
}

.recommend-title::after {
  background: url('../img/Recommend.png') no-repeat center left;
}

.recommend-btn-wrapper {
  margin-bottom: 90px;
}

.recommend-btn-1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  padding: 20px 58px;
  background: #00D6A0;
  margin-right: 10px;
}

.recommend-btn-2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  padding: 15px 69px;
  background: #F2C94C;
}

.recommend-card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 980px;
}

.recommend-card {
  padding: 48px 10px 32px 10px;
  max-width: 310px;
  border: 2px solid #00D6A0;
  border-radius: 24px;
  max-height: 445px;
  position: relative;
}

.recommend-card-1::before,
.recommend-card-2::before,
.recommend-card-3::before {
  position: absolute;
  content: '';
  top: -40px;
  left: -20px;
  background: url('../img/01green.png') no-repeat top left;
  width: 100%;
  height: 100%;
}

.recommend-card-2::before {
  background: url('../img/02green.png') no-repeat top left;
}

.recommend-card-3::before {
  background: url('../img/03green.png') no-repeat top left;
}

.recommend-card-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 5px;
}

.recommend-card-img {
  max-width: 275px;
  max-height: 145px;
  margin-bottom: 5px;
}

.recommend-card-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* Features */

.feature {
  padding: 65px;
  background: #FFAF001A;
}

.feature-title {
  z-index: 5;
}

.feature-title::after {
  background: url('../img/Feature.png') no-repeat center left;
  z-index: -1;
}

.feature-card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 980px;
}

.feature-card {
  position: relative;
  background: #fff;
  padding: 16px 16px 32px 16px;
  max-width: 310px;
  border-radius: 24px;
  max-height: 445px;
  margin-bottom: 25px;
}

.feature-card-img {
  max-width: 250px;
  max-height: 175px;
  margin-bottom: 5px;
}

.feature-card-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.feature-card-desc-3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.feature-title-3 {
  letter-spacing: -4px;
}

.future-card-desc-3 {
  letter-spacing: -1px;
}

.feature-btn-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.feature-btn {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  padding: 16px 88px;
  background: #56CCF2;
  color: #fff;
}

/* Merit */

.merit {
  padding: 65px;
}

.merit-title {
  margin-bottom: 60px;
  z-index: 5;
}

.merit-title::before {
  /* background: url('../img/Merit.png') no-repeat center left; */
  z-index: -1;
}

.merit-card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 980px;
}

.merit-card {
  position: relative;
  padding: 48px 22px;
  max-width: 310px;
  border: 5px solid  #2F80ED;
  border-radius: 24px;
  max-height: 475px;
  text-align: center;
}

.merit-card-1::after,
.merit-card-2::after,
.merit-card-3::after {
  position: absolute;
  content: '';
  left: 50%;
  top: -40px;
  background: url('../img/Merit_small01.png') no-repeat top center;
  width: 142px;
  height: 60px;
  z-index: 55;
  background-color: #fff;
  transform: translateX(-50%);
}

.merit-card-2::after {
  background: url('../img/Merit02_small.png') no-repeat top center;
  background-color: #fff;
}

.merit-card-3::after {
  background: url('../img/Merit03_small.png') no-repeat top center;
  background-color: #fff;
}

.merit-card-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 5px;
}

.merit-card-img {
  max-width: 275px;
  max-height: 200px;
  margin-bottom: 5px;
}

.merit-card-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -1px;
}

/* Case Study */

.case-study {
  padding: 65px;
  background: #4BFF7E1A;
}

.case-study-title {
  z-index: 5;
}

.case-study-title::before{
  background: url('../img/CaseStudy.png') no-repeat center left;
  z-index: -1;
}
.case-study-title-desc {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 30px;
}

.case-study-card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 980px;
}

.case-study-card {
  position: relative;
  background: #fff;
  max-width: 310px;
  border-radius: 24px;
  max-height: 460px;
  margin-bottom: 25px;
}

.case-study-card-img {
  max-width: 100%;
  max-height: 220px;
  margin-bottom: 18px;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}

.post_list_btn {
  width: 100%;
}

.post_list_btn a {
  width: 380px;
  height: 64px;
  border-radius: 5px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #012E52;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 700;
  background-color: #fff;
  color: #012e52;
}


.post_lists_wrap {
  justify-content: space-between;
  flex-wrap: wrap;
}

.post_lists_wrap .item {
  width: 32%;
  margin-bottom: 40px;
}

.post_lists_wrap .item .contents {
  padding: 10px 20px;
  background-color: #fff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.post_lists_wrap .item .contents .category_name {
  color: #fff;
  background-color: #1CC7D0;
  padding: 2px 10px;
  display: inline-block;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
}

.post_lists_wrap .item .contents .category_name.qr_plan {
  background-color: #EB5757;
}

.post_lists_wrap .item .contents .category_name.small_plan {
  background-color: #012E52;
}

.post_lists_wrap .item .contents .company_name {
  font-size: 14px;
  color: #333;
  padding: 10px 0px;
}

.post_lists_wrap .item .contents .title {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.post_lists_wrap .item .contents .bottom {
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}


/* Function */

.function {
  padding: 65px;
  background: #FFFFFF1A;
}

.function-title {
  margin-bottom: 60px;
  z-index: 5;
}

.function-title::before {
  background: url('../img/Function.png') no-repeat center left;
  z-index: -1;
}

.function-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  max-width: 100%;
  margin: 0 auto 16px auto;
  box-shadow: 0px 0px 12px 0px #0000001F;
  border-radius: 16px;
}

.function-image-wrapper {
  max-width: 56px;
  max-height: 56px;
  margin-bottom: 8px;
}

.function-card-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  background: #fff;
}

.store-img-wrapper {
  max-width: 100%;
}

@media (max-width: 1390px) {
  .nav-container {
    min-width: 975px;
  }
}

@media (max-width: 1390px) {
  .nav-container {
    min-width: 940px;
  }
}